{% extends 'base1.html' %}
{% block body %}
<div class = 'container'  style = 'padding-right: 100px; padding-left: 100px;'>
  <div class="animated fadeInUp" style = 'padding-right: 80px; padding-left: 80px; padding-top: 20px;'>
    <form method="POST" , action="", enctype='multipart/form-data'>
      {{form.hidden_tag()}}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Que deseas publicar?</legend>
        <div class = 'row'>
          <div class="form-group col-8">
            {{form.titulo.label(class="form-control-label")}} {% if
            form.titulo.errors %} {{ form.titulo(class="form-control
            form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.titulo.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %} {{ form.titulo(class="form-control form-control-lg") }} {%
            endif %}
          </div>
          <div class="form-group col">
            {{form.telefono.label(class="form-control-label")}} {% if
            form.telefono.errors %} {{ form.telefono(class="form-control
            form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.telefono.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %} {{ form.telefono(class="form-control form-control-lg") }} {%
            endif %}
          </div>
        </div>
        <div class = 'row'>
          <div class="form-group col">
            {{form.email.label(class="form-control-label")}} {% if
            form.email.errors %} {{ form.email(class="form-control
            form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.email.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %} {{ form.email(class="form-control form-control-lg") }} {%
            endif %}
          </div>
          <div class="form-group col">
            {{form.categoria.label(class="form-control-label")}} {% if
            form.categoria.errors %} {{ form.categoria(class="form-control
            form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.categoria.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %} {{ form.categoria(class="form-control form-control-lg") }} {%
            endif %}
          </div>

        </div>
        
        <div class="form-group">
          {{form.contenido.label(class="form-control-label")}} {% if
          form.contenido.errors %} {{ form.contenido(class="form-control
          form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.contenido.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %} {{ form.contenido(class="form-control form-control-lg") }} {%
          endif %}
        </div>
        
      </fieldset>
      <div class="form-group">
        {{form.submit(class = "btn btn-primary btn-lg btn-block")}}
    </div>
    </form>
  </div>

</div>
   
{% endblock %}